mixin big-news(data)
    - params = data
    +b.big-news()&attributes(attributes)
        block
        +e.A(href=jv0).link
        +e.IMG(src=params.img alt=params.alt).img
        +e.info
            +e.P.title #{params.title}
            if (params.time_add)
                +e.P.time-add #{params.time_add}
                    if (params.time_update)
                        = ' '
                        | /
            if (params.time_update)
                +e.P.time-update #{params.time_update}

            if (params.description)
                +e.P.description.big-news__position_margin #{params.description}

            if (params.logo)
                +e.logo
                    +e.SPAN.logo-title News
                    +e.IMG(src=params.logo alt=params.alt).logo
