mixin popups(data)
    +b.popups()&attributes(attributes)
        //- справка
        +b.help

            +e.HEADER.header
                a.link-black(href=jv0)
                    span ?
                    | справка
                a.icon.icon-delete-lg(href=jv0)

            +e.FORM.form(action='' method='POST')

                .form-group
                    textarea.textarea.textarea--light.input-block Министр иностранных дел Великобритании Борис Джонсон

                .form-group.form-group--horizontal
                    .checkbox
                        input(type='checkbox' id='checkbox1' name='checkbox1' value='kek')
                        label(for='checkbox1') Информация
                    .checkbox
                        input(type='checkbox' id='checkbox2' name='checkbox1' value='kek')
                        label(for='checkbox2') Фото
                    .checkbox
                        input(type='checkbox' id='checkbox3' name='checkbox1' value='kek')
                        label(for='checkbox3') Видео

                .form-group
                    button.btn.btn-block.btn-success Поиск

                .form-group
                    +b.gallery
                        +e.pics
                            +e.item
                                img(src='%=static=%img/content/help1.png')
                            +e.item
                                img(src='%=static=%img/content/help2.png')
                            +e.item
                                img(src='%=static=%img/content/help3.png')
                            +e.item
                                img(src='%=static=%img/content/help4.png')
                            +e.item
                                img(src='%=static=%img/content/help5.png')
                        +e.A.btn-add(href=jv0)
                            span +

                .form-group
                    +e.P.text.text-opacity Министр иностранных дел и по делам Содружества Наций (англ. Her Majesty's Principal Secretary of State for Foreign and Commonwealth Affairs, точный перевод Её Величества Главный Государственный Секретарь по иностранным и Содружества Наций делам), обычно упоминается как министр иностранных дел, является членом Правительства Её Величества, возглавляя министерство иностранных дел и по делам Содружества Наций, является ответственным за отношения с иностранными государствами, за вопросы, имеющие отношение к Содружеству Наций и заморским территориям Великобритании, а также за продвижение британских интересов за границей...

                .form-group
                    +tags-default()


        //- просмотр новости целиком
        +b.news-view(style='margin-top: 50px')

            +e.HEADER.header
                +e.TIME.time(datetime='Сегодня, 14:32') Сегодня, 14:32
                +e.A.source(href=jv0) Источник: Интерфакс

            +e.H2.title Кремль заявил о «серьезной усталости» от обвинений в кибератаках

            +e.H3.sub-title Данные из нового доклада разведки США не являются доказательством вмешательства России в американские выборы, заявил журналистам Дмитрий Песков. Он сказал, что Москва устала от обвинений в кибератаках. Доклад разведки США о вмешательстве России в выборы по-прежнему содержит неподкрепленные обвинения, считает пресс-секретарь президента Дмитрий Песков.

            +e.text
                p «У нас наблюдается серьезная усталость от этих обвинений. Это напоминает в полный рост охоту за ведьмами. Мы понимаем, что наши американские коллеги в разные этапы проходили такие этапы охоты за ведьмами», — сказал он журналистам на брифинге, передает корреспондент РБК. Пресс-секретарь президента заявил, что такие периоды «сменяются более трезвыми специалистами и более трезвыми подходами». Песков также отметил, что представленная версия доклада «не добавила субстанции для комментирования».
                p «Опубликованная часть ничего, кроме разочарования, не вызывает, потому что попытка навязать такое количество эмоций на такой скудный материал вызывает недоумение», — заявил пресс-секретарь президента.

            +e.buttons

                button.btn.btn-block.btn-danger
                    i.icon.icon-delete-reverse
                    | Игнорировать

                button.btn.btn-block.btn-success
                    +icon({ icon: 'arrowRight', class: 'arrowRight' })
                    | В работу

            a.icon.icon-delete-lg(href=jv0)