mixin tags(data)
    +b.tags()&attributes(attributes)
        //- +e.A.item(href=jv0).is-active Политика
        //- +e.A.item(href=jv0) Экономика
        //- +e.A.item(href=jv0) Общество
        //- +e.A.item(href=jv0) Наука
        //- +e.A.item(href=jv0) Спорт
        +e.DIV.item
            input#tag1(type='checkbox' name='tags')
            label(for='tag1')
                span Политика
        +e.DIV.item
            input#tag2(type='checkbox' name='tags')
            label(for='tag2')
                span Экономика
        +e.DIV.item
            input#tag3(type='checkbox' name='tags')
            label(for='tag3')
                span Общество
        +e.DIV.item
            input#tag4(type='checkbox' name='tags')
            label(for='tag4')
                span Наука
        +e.DIV.item
            input#tag5(type='checkbox' name='tags')
            label(for='tag5')
                span Спорт
        +e.DIV.item
            input#tag6(type='checkbox' name='tags')
            label(for='tag6')
                span Культура
        +e.DIV.item
            input#tag7(type='checkbox' name='tags')
            label(for='tag7')
                span Бизнес