mixin nav-side(data)
    if pageSettings.navSide
        +b.NAV.nav-side()&attributes(attributes)
            +e.A.item.logo(href=jv0)
                +e.pic
                    i.icon.icon-logo
                    i.icon.icon-logo-light
            +e.A.item.is-active(href=jv0)
                +e.pic
                    i.icon.icon-feed
                +e.SPAN.name Лента

            +e.A.item(href=jv0)
                +e.pic
                    i.icon.icon-view
                +e.SPAN.name Задания

            +e.A.item(href=jv0)
                +e.pic
                    i.icon.icon-draft
                +e.SPAN.name В работе

            +e.A.item(href=jv0)
                +e.pic
                    i.icon.icon-ready
                .badge.badge-success 8
                +e.SPAN.name Готово

            +e.A.item(href=jv0)
                +e.pic
                    i.icon.icon-main
                +e.SPAN.name Главная страница

            +e.A.item(href=jv0)
                +e.pic
                    i.icon.icon-tv
                .badge.badge-success 2
                +e.SPAN.name Программы

            +e.A.item(href=jv0)
                +e.pic
                    i.icon.icon-live
                .badge.badge-danger off
                +e.SPAN.name Прямой эфир
